<div style="display: flex; height: 100vh;">

    <!-- sidebar -->
     <div style="width: 200px; background: #222; color: white; padding: 20px;">
        <h3>Menu</h3>
         <nav style="display:flex; flex-direction:column; gap:10px;">
        <a routerLink="/dashboard" routerLinkActive="active" style="color:white; text-decoration:none;">
        Dashboard
      </a>
      <a routerLink="/qrcode" routerLinkActive="active" style="color:white; text-decoration:none;">
        QR Code Generator
      </a>
      <a routerLink="/scanner" routerLinkActive="active" style="color:white; text-decoration:none;">
        QR Code Scanner
      </a>
    </nav>
     </div>

      <!-- Main content -->
  <div style="flex:1; padding:20px;">
    <router-outlet></router-outlet>
  </div>

</div>